@font-face {
    font-family: Barthowheel;
    src: url('resources/fonts/Barth_Regular.ttf');
}

@font-face {
    font-family: LinLibertine;
    src: url('resources/fonts/LinLibertine_RI.ttf');
}

@font-face {
    font-family: Ubahn-newpony;
    src: url('resources/fonts/Ubahn_newpony.ttf');
}

html,body{
    overflow-x:hidden;
}

.clearAfter::after {
    content:"";
    display:block;
    clear:both;
}

.card input[type=text], .card textarea{
    margin:0;
    padding:0;
    border:none;
    background:transparent;
    resize: none;
}

.cardwrapper {
    float:left;
    margin-right:8px;
}

.controls {
    float:left;
    font-family: LinLibertine;
}

header {
    font-weight:bold;
    font-family: Barthowheel;
    font-size:1.5em;
}

.card {
    width: 788px;
    height: 1088px;
    background-size: contain;
    background-repeat: no-repeat;
    position:relative;
    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0;
}

.card .iconGender,.card .iconRace,.card .iconCard {
    position:absolute;
    left: 58px;
    top: 56px;
    width: 104px;
    height: 104px;
    background-size: contain;
    background-repeat: no-repeat;
}
.card .iconCard{
    top:86px;
}

/*Pony/Start Cards*/
.card.pony {
    background-image:url('resources/templates/Blank-Pony.png');    
}

.card.pony.female .iconGender, .card.start.female .iconGender {
    background-image:url('resources/symbols/Symbol-Female.png');
}

.card.pony.male .iconGender, .card.start.male .iconGender {
    background-image:url('resources/symbols/Symbol-male.png');
}

.card.pony.maleFemale .iconGender, .card.start.maleFemale .iconGender {
    background-image:url('resources/symbols/Symbol-MaleFemale.png');
}

.card .iconRace {
    top: 160px;
}
.card.pony.unicorn .iconRace, .card.start.unicorn .iconRace {
    background-image:url('resources/symbols/Symbol-Unicorn.png');
}
.card.pony.earthPony .iconRace, .card.start.earthPony .iconRace {
    background-image:url('resources/symbols/Symbol-Earth-Pony.png');
}
.card.pony.pegasus .iconRace, .card.start.pegasus .iconRace {
    background-image:url('resources/symbols/Symbol-Pegasus.png');
}
.card.pony.alicorn .iconRace, .card.start.alicorn .iconRace {
    background-image:url('resources/symbols/Symbol-Alicorn.png');
}
.card.pony .name,.card.pony .effect {
    color:#462c89
}
.card.pony .flavour {
    color: #190233;
}

/*Start Cards*/
.card.start {
    background-image:url('resources/templates/Blank-Start.png');    
}
.card.start .name,.card.ship .effect {
    color:#3a3235;
}
.card.start .flavour {
    color: #211b1d;
}
.card.start .attrs {
    color: #edefee;
}


/*Ship Cards*/
.card.ship {
    background-image:url('resources/templates/Blank-Ship.png');    
}
.card.ship .name,.card.ship .effect {
    color:#ce1b69;
}
.card.ship .flavour {
    color: #811935;
}
.card.ship .attrs {
    display:none;
}
.card.ship .iconCard {
    background-image:url('resources/symbols/Symbol-Ship.png');
}

/*Goal Cards*/
.card.goal {
    background-image:url('resources/templates/Blank-Goal.png'); 
}
.card.goal .name,.card.goal .effect {
    color:#123962;
}
.card.goal .attrs {
    display:none;
}
.card.goal .flavour {
    color:#172640;
}
.card.goal .iconCard {
    background-image:url('resources/symbols/Symbol-Goal.png');
}

/*Start Cards*/



.card .image {
    position:absolute;
    left: 123px;
    top:  164px;
    width: 600px;
    height: 442px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card .name {
    position:absolute;
    bottom: 952px;
    right: 66px;
    font-family: Barthowheel;
    text-align: right;
    font-size:55px;
    width:555px;
}

.card .attrs {
    position: absolute;
    bottom: 437px;
    right: 66px;
    font-family: Ubahn-newpony;
    text-align: right;
    font-size: 41px;
    color: #eadcec;
    width:580px;
}

.card .effect {
    position: absolute;
    top: 679px;
    left: 50px;
    width: 688px;
    height: 5em;
    font-family: Ubahn-newpony;
    text-align: center;
    font-size: 41px;
    line-height: 44px;
    overflow:hidden;
}
.cardHelper .effect {
    position:absolute;
    width: 688px;
    font-family: Ubahn-newpony;
    font-size: 41px;
    line-height: 44px;
    white-space: pre-wrap;
    word-wrap: break-word;
    visibility: hidden;
    min-height:1em;
}

.card .flavour {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 688px;
    height: 5em;
    font-family: LinLibertine;
    text-align: center;
    font-size: 29px;
    line-height: 32px;
    overflow: hidden;
}
.cardHelper .flavour {
    position:absolute;
    width: 688px;
    font-family: LinLibertine;
    font-size: 29px;
    line-height: 32px;
    white-space: pre-wrap;
    word-wrap: break-word;
    visibility: hidden;
    min-height:1em;
}
